{% extends 'base2.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">CamSpy</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr bgcolor="blue">
        <th>Board</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'signup' %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">122</td>
          <td class="align-middle">77</td>
          <td class="align-middle">27/03/2018</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
